page-counselor-dashboard {
    .no-padding{
        padding: 0;
    }
    .blockquote {
        font-size: 16px;
        width: fit-content;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        border-left: 3px solid #ccc;
    } 
    .secondary-header{
        background-color: #d5d5d5;
        color: unset;
        text-decoration: underline;
    }
    .inq-stats{
        font-size: 3rem;
    }
    .divider{
        height: 47px;
        margin: 0 5px;
        border-left: 1px solid #ccc;
    }
}
