<ion-header>

  <ion-navbar color="primary">
    <ion-title>Closing Inquiry</ion-title>
    <ion-buttons end>
      <button (click)="closeModal()" ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="inqCloseForm" (ngSubmit)="closeInquiry()">
    <ion-item>
      <ion-label stacked>Status</ion-label>
      <ion-select formControlName="closingStatus" interface="popover">
        <ion-option *ngFor="let status of closingStatus" [value]=status>{{status}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Substatus</ion-label>
      <ion-select formControlName="closingSubStatus" interface="popover">
        <ion-option *ngFor="let subStatus of closingSubStatus" [value]=subStatus>{{subStatus}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Remarks</ion-label>
      <ion-textarea formControlName="closingRemark" class="remark-textarea"></ion-textarea>
    </ion-item>
    <br>
    <button ion-button full type="submit">Close Inquiry</button>
  </form>
</ion-content>
