page-reminder-modal {
    .remark-textarea{
        height: 195px;
        textarea{
            height: 100%;
            resize: none;
        }
    }
}
.popover-content{
    width: auto !important;
}
