page-inq-summary {
    .follow-up-heading{
        align-self: center;
    }
    .reminder-container{
        display: inline-flex;
        p{
            margin: 2px 0;
            margin-left: 20px;
        }
    }
}
