<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inquiry Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="inqForm" (ngSubmit)="logForm1()">
    <ion-grid>
      <ion-item-divider color="light">Personal Details</ion-item-divider>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Mobile No.</ion-label>>
            <ion-input type="number" formControlName="mobile" min="0"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select formControlName="gender">
              <ion-option *ngFor="let gender of genders" [value]=gender>{{gender}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Date of Birth</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" pickerFormat="D MMM YYYY" min = "1900" [max] = "today" formControlName="dob"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Education</ion-label>
            <ion-select formControlName="hQualification">
              <ion-option *ngFor="let qualification of hQualifications" [value]=qualification>{{qualification}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Computer Knowledge</ion-label>
            <ion-select formControlName="computerKnowledge">
              <ion-option *ngFor="let knowledge of computerKnowledge" [value]=knowledge>{{knowledge}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Course Interested In</ion-label>
            <ion-select formControlName="areaOfInterest">
              <ion-option *ngFor="let areaOfInterest of areasOfInterest" [value]=areaOfInterest>{{areaOfInterest}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item-divider color="light">Address
      </ion-item-divider>
      <ion-row formGroupName="address">
        <ion-col no-padding>
          <ion-row>
            <ion-col col-3 class="pin-autocomplete">
              <ion-label>Pincode</ion-label>
              <ng2-completer class="completer-limit" formControlName="pin" (focus)="setPincodeFieldTypeNumber()" (selected)="onPincodeSelected($event)" [datasource]="pinService" [minSearchLength]="3" [placeholder]="'Enter the first 3 digits to search'" [maxChars]="6" [clearUnselected]="true" [autoMatch]="true" [inputId]="'completer-input'"></ng2-completer>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="areas && inqForm.value.address.pin.length == 6">
            <ion-col col-3>
              <ion-item>
                <ion-label floating>Area</ion-label>
                <ion-select formControlName="locationId">
                  <ion-option *ngFor="let area of areas" [value]=area.id>{{area.name | titlecase}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label floating>City</ion-label>
                <ion-input type="text" readonly="true" value="{{city | titlecase}}, {{state | titlecase}}, {{country | titlecase}}"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="areas">
            <ion-col>
              <ion-item>
                <ion-label>Street</ion-label>
                <ion-input type="text" formControlName="addressLine1"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <button ion-button full type="submit">Submit</button>
    </ion-grid>
  </form>
</ion-content>