<ion-header>

  <ion-navbar>
    <ion-title>Just a final few questions...</ion-title>
    <ion-buttons end>
      <p class="form-number">3 of 3</p>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="inqForm" (ngSubmit)="logForm3()">
    <ion-grid>
      <ion-item-divider color="light">How did you hear about us?</ion-item-divider>
      <div formGroupName= "marketing">
          <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>Source</ion-label>
                  <ion-select formControlName="source">
                    <ion-option *ngFor="let source of enqSource" [value]=source>{{source}}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label>Referred</ion-label>
                  <ion-toggle formControlName="referred"></ion-toggle>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row *ngIf = "inqForm.controls.marketing.controls.referred.value">
              <ion-col>
                <ion-item>
                  <ion-label>Referrer Name</ion-label>
                  <ion-input type="text" formControlName="referant"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
      </div>
      <button ion-button full type="submit">Submit</button>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-buttons end>
          <button ion-button clear class="skip-button" (click)="skip()">Skip</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>
